body{
    font-family:Copperplate, sans-serif;
  padding-top:80px;
  word-wrap:break-word;
  /* background-color:#f79a95; */
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.britishsoftdrinks.com%2Fwrite%2FMediaUploads%2FRoadmap%2FRM_waste_reduction.jpg&f=1&nofb=1);
}
img{
  height: 200px;
}

h1 {
  font-family:Copperplate, sans-serif;
  font-size: 70px;
  color: green;
}

tr{
  width: 100%;
  margin: 0 5% 0 5%;
}
.topRow{
  width:20%;
  text-align: center;
  border: 1px solid gray;
  margin: 0 2% 0 2%;
  background-color: lightgray;
  font-weight: bold;
  font-size: 20px;
}

.topRow2{
  background-color: beige;
  font-weight: lighter;
  font-size: 15px;
}

.fa-trash, .fa-thumbs-up{
  color: white;
}
input {
  width:20%;
}
